


<h4> Search by Zipcode</h4>
<%= form_tag(laundromats_path, method: :get) do %>
<%= text_field_tag(:zipcode, params[:zipcode]) %>
<%= submit_tag "Search", name: nil %>
<%end %>
<br>
<br>
<br>
<h2> Laundromats close by are: </h2>

<% @laundromats.each do |laundromat| %>
<%# link_to laundromat.name, laundromat %>
 <li><%= link_to laundromat.name, laundromat %></li>
<% end %>


