<h1>Welcome to WeLaundry</h1>
<p>Find us at WeWork dumbo</p>

<p><%= link_to 'Customer', %></p>
<style>
body {
  background-image: url('https://westbankdrycleaning.com/wp-content/uploads/2019/06/Laundry-768x538.jpg');
}
</style>
<%# form_for @laundromats do |f| %>
<%# f.label :zipcode %>
<%# f.text_field :zipcode %>
<%# f.submit "Search" %>
<%#end %>
