

<%# link_to 'Customer Login', customer_login_path %>


<br>

<div class = "searchform">

<h4> Find locations by Zipcode</h4>
<p>
<%= form_tag(laundromats_path, method: :get) do %>
<%= text_field_tag :zipcode, params[:zipcode] %>
<%= submit_tag 'Search', name: nil %>
<%end %>
</p>
</div>
<%# form_for @laundromats do |f| %>
<%# f.label :zipcode %>
<%# f.text_field :zipcode %>
<%# f.submit "Search" %>
<%#end %>
